*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    background-color: aliceblue;
}

body header{
    display: flex;
    justify-content: center;
    font-size: 5em;
}

body main h3{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
}

body main ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;
}


body main ul li{
    list-style-type: none;
    font-size: 5em;
    margin: .8rem;

}


body main ul li a:link{
    color: blue;
    transform: scale(2, 2);
}

body main ul li a:visited{
    color: goldenrod;
}

body main ul li a:hover, body main h3:hover{
    color: darkolivegreen;
}

body main ul li:hover, body main h3:hover{
    transform: scale(1.1);
}